<h1>Bird Catcher</h1>

<hr>

<% if @login_error %>
	<div class="alert alert-danger" role="alert" id="alert">
		Login ou senha incorretos!
	</div>
<% end %>
<%= form_tag '/login' do %>
	<div class="form-group">
		<%= label_tag :usuario %>
		<%= text_field_tag :username, '', placeholder: "Digite seu login", class: "form-control" %>
	</div>

	<div class="form-group">
		<%= label_tag :senha %>
		<%= password_field_tag :password, '', placeholder: "Digite sua senha", class: "form-control" %>
	</div>

	<div class="form-group">
		<%= submit_tag "Login", class: "col-sm-12 btn btn-primary" %>
	</div>
<% end %>