<!DOCTYPE html>
<html>
  <head>
    <title>BirdCatcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm"></div>      
        <div class="col-sm">
          <%= yield %>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>
  </body>
</html>
